<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shixun.app.mapper.ResourceMapper">

    <resultMap id="BaseResultMap" type="com.shixun.app.model.entity.Resource">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="money" column="money" jdbcType="INTEGER"/>
            <result property="goods" column="goods" jdbcType="INTEGER"/>
            <result property="year" column="year" jdbcType="INTEGER"/>
            <result property="donateUserId" column="donateUserId" jdbcType="BIGINT"/>
            <result property="month" column="month" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,money,goods,
        year,donateUserId,month,
        createTime,updateTime,isDelete
    </sql>
</mapper>
